.custom-card-size {
    height: 150px;
}
.custom-container-size {
    width: 33%;
}
div.container-fluid.card.custom-container-size {
    width: 33%;
}
@media only screen and (max-width: 575px){
    .custom-container-size {
        width: 100%;
    }
    div.container-fluid.card.custom-container-size {
        width: 100%;
    }

}